/* Universal selector */
*{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin:0;
    padding:0;
}

/* Class selector */
.color1{
    background-color: rgb(1, 46, 1);
}

.color2{
    background-color: beige;
}

.color3{
    background-color: rgb(236, 195, 132);
}

/* Element selector */
h1,
h2,
section {
  text-align: center;
}

h2 {
    padding:15px;
}

header {
    width: 100%;
    line-height: 50px;
    color: white;
    text-align: right;
    vertical-align: middle;
}

footer {
    width: 100%;
    line-height: 50px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

#fix-Header{
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 10px solid #DDAF94;
}

/* Sets display of all elements with class selector to inline */
.display-inline{
    display: inline;
    padding-right: 20px;
}

/* Sets display of all elements with class selector to block */
.display-block {
    display: block;
  }

  /*Image related selectors  */
  
.image-padding {
    /* Sets padding on all sides to 20px */
    padding: 20px;
    background-color: black;
  }
  
  .image-border {
    /* Sets border on all sides */
    border: 10px solid rgb(236, 195, 132);
  }
  
  .image-margin {
    /* Sets all sides to 20px */
    margin: 20px;
    background-color: rgb(1, 46, 1);
  }

  /* Box around contact entry form */
  .box{
    position:relative;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(136, 80, 7) ;
    display:inline-block;
    padding: 10px 100px;
    border-radius: 10px;
  }

  #bottom{
    padding-bottom: 15px;
  }

  #top{
    padding-top:60px;
  }

  /* Navigation bar */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(1, 46, 1);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


